<app-recrutamento-menu-lateral></app-recrutamento-menu-lateral>
<div style="margin-left: 250px;">
  <app-cabecalho-sistema></app-cabecalho-sistema>
  <div style="margin: 15px;">
    <mat-card><b>Vaga</b></mat-card>
    <mat-card style="margin-top: 13px;">
      <div style="width: 100%; display:inline-block;">
        <button (click)="incluir()" mat-stroked-button class="crud-button">
          <mat-icon>add</mat-icon> Incluir
        </button>
        <button (click)="alterar()" mat-stroked-button class="crud-button">
          <mat-icon>edit</mat-icon> Alterar
        </button>
        <button (click)="excluir()" mat-stroked-button class="crud-button">
          <mat-icon>delete</mat-icon> Excluir
        </button>
        <div style="float: right;">
          <mat-form-field style="margin-right: 10px;">
            <mat-label>🔎 Pesquisar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="storeVaga">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef style="width: 5%;">
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th style="width: 5%;" mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.id}} </td>
        </ng-container>
        <ng-container matColumnDef="descricao">
          <th style="width: 30%;" mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="cargoid.descricao">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Cargo </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.cargoid.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="departamentoid.descricao">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Departamento </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.departamentoid.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="quantidade">
          <th style="width: 10%; text-align: center;" mat-header-cell *matHeaderCellDef> Quantidade </th>
          <td style="text-align: center;" mat-cell *matCellDef="let vaga"> {{vaga.quantidade}} </td>
        </ng-container>
        <ng-container matColumnDef="prazo">
          <th style="width: 10%;" mat-header-cell *matHeaderCellDef> Prazo </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.prazo}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th style="width: 10%;" mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let vaga"> {{vaga.tipo}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  <app-rodape-sistema></app-rodape-sistema>
</div>