<app-folha-menu-lateral></app-folha-menu-lateral>
<div style="margin-left: 250px;">
  <app-cabecalho-sistema></app-cabecalho-sistema>
  <div style="margin: 15px;">
    <mat-card><b>Periodo de Cálculo</b></mat-card>
    <mat-card style="margin-top: 13px;">
      <div style="width: 100%; display:inline-block;">
        <button (click)="incluir()" mat-stroked-button class="crud-button">
          <mat-icon>add</mat-icon> Incluir
        </button>
        <button (click)="alterar()" mat-stroked-button class="crud-button">
          <mat-icon>edit</mat-icon> Alterar
        </button>
        <button (click)="excluir()" mat-stroked-button class="crud-button">
          <mat-icon>delete</mat-icon> Excluir
        </button>
      </div>
      <mat-table [dataSource]="storePeriodoCalculo" style="margin-top: 15px;">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container hidden matColumnDef="id">
          <th style="width: 5%" mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let periodoCalculo"> {{periodoCalculo.id}} </td>
        </ng-container>
        <ng-container matColumnDef="dataInicial">
          <th style="width: 30%" mat-header-cell *matHeaderCellDef> Data Inicial </th>
          <td mat-cell *matCellDef="let periodoCalculo"> {{periodoCalculo.dataInicial | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="dataFinal">
          <th style="width: 30%" mat-header-cell *matHeaderCellDef> Data Final </th>
          <td mat-cell *matCellDef="let periodoCalculo"> {{periodoCalculo.dataFinal | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="execucao">
          <th style="width: 35%" mat-header-cell *matHeaderCellDef> Execução </th>
          <td mat-cell *matCellDef="let periodoCalculo" [ngSwitch]="periodoCalculo.execucao">
            <span *ngSwitchCase="1">Mensal</span>
            <span *ngSwitchCase="2">Férias</span>
            <span *ngSwitchCase="3">Adt. Décimo Terceiro</span>
            <span *ngSwitchCase="4">13º Final</span>
            <span *ngSwitchCase="5">Desligamento</span>
            <span *ngSwitchCase="6">Folha Avulsa</span>
            <span *ngSwitchCase="7">Adiantamento Quinzenal</span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>
    </mat-card>
  </div>
  <app-rodape-sistema></app-rodape-sistema>
</div>