<h1 mat-dialog-title>{{data.action}} Dependente</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 600px;">
    <mat-label>Nome</mat-label>
    <input type="text" matInput placeholder="Nome" required [(ngModel)]='nome'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="normal" style="width: 200px;">
    <mat-label>CPF</mat-label>
    <input type="text" matInput placeholder="CPF" required [(ngModel)]='cpf'>
  </mat-form-field>
  <mat-form-field appearance="fill" class="normal" style="width: 200px;" class="normal">
    <mat-label>RG</mat-label>
    <input type="text" matInput placeholder="RG" required [(ngModel)]='rg'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="normal" style="width:150px;">
    <mat-select required [(ngModel)]='sexo'>
      <mat-option value="M">Masculino</mat-option>
      <mat-option value="F">Feminino</mat-option>
    </mat-select>
    <mat-label>Sexo</mat-label>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width:210px;" class="fim" required>
    <mat-label>Data de Nascimento</mat-label>
    <input required [(ngModel)]='datanascimento' matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill" style="width: 600px;" class="normal">
    <mat-label>Nome Mãe</mat-label>
    <input type="text" matInput placeholder="Nome da Mãe" [(ngModel)]='nomemae'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" style="width:600px;" class="normal" required>
    <mat-label>Endereço</mat-label>
    <mat-select required [(ngModel)]='enderecoid'>
      <mat-option *ngFor="let endereco of enderecos" [value]="endereco.id">
        {{endereco.logradouro + ', ' + endereco.bairro }}
        <div style="float: right;">Cidade: {{endereco.cidadeid.nome}}</div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <div mat-dialog-actions style="float: left;">
    <button (click)="save()" mat-button class="gravar-button">Gravar</button>
  </div>
  <div mat-dialog-actions style="float: right;">
    <button (click)="close()" mat-button class="cancelar-button">Cancelar</button>
  </div>