<div class="home-div" style="padding-top: 60px;">
  <div>
    <div style="margin-left: 40px; float: left;padding-bottom: 10px;">
      <span style="font-family: sans-serif; font-weight: bold; font-size: 45px;">
        Bem Vindo
      </span>
      <div>
        <span style="font-family: sans-serif; font-weight: bold; font-size: 35px;" [ngStyle]="{color: corDiaSemanaAtual}">
          {{diaSemanaAtual}}
        </span>
        <span style=" font-family: sans-serif; font-weight: bold; font-size: 35px; color: rgb(97, 97, 97);">
          {{dataExtensaAtual}}
        </span>
      </div>
    </div>
    <div style="float: right; margin-right: 40px;">
      <mat-card style="width: 550px;">
        <mat-grid-list cols="4" rowHeight="100px" gutterSize="10px">
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </div>
  </div>
</div>