<app-navbar-navigation></app-navbar-navigation>
<div class="home-div"
  style="background-image: url(../assets/img/background.jpg); background-size: cover; padding-top: 60px;">
  <mat-grid-list cols="3" rowHeight="2:1.065" gutterSize="10px" style="width: 1000px; display: block; margin: auto;">
    <mat-grid-tile rowspan="3" colspan="1">
      <mat-list style="width: 100%;">
        <mat-card>
          <img class="circular--square" style="margin-left: 80px;"
            src='data:image/png;base64,{{infosUsuario.pessoa.foto}}' />
        </mat-card>
        <mat-card style="margin-top: 10px; text-align: center;">{{infosUsuario.pessoa.nome}}</mat-card>
        <mat-card style="margin-top: 10px; text-align: center;">{{infosUsuario.nivel.descricao}}</mat-card>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile rowspan="3" colspan="2">
      <mat-grid-list cols="5" rowHeight="1:1" gutterSize="10px" style="width: 100%;">
        <a [attr.href]="retornaRota(1)">
          <mat-grid-tile class="home-mat-grid-tile" [ngClass]="{'disabled': retornaPermissao(1)}" rowspan="1"
            colspan="2" matTooltip="Folha de pagamento">
            <i class="material-icons home-icon">local_atm</i>
            <span class="titulo-home-icon-duas-linhas">Folha de Pagamento</span>
          </mat-grid-tile>
        </a>
        <a [attr.href]="retornaRota(2)">
          <mat-grid-tile class="home-mat-grid-tile" [ngClass]="{'disabled': retornaPermissao(2)}" rowspan="1"
            rowspan="1" colspan="2" matTooltip="Processo Seletivo">
            <i class="material-icons home-icon">supervised_user_circle</i>
            <span class="titulo-home-icon-duas-linhas">Processo Seletivo</span>
          </mat-grid-tile>
        </a>
        <a [attr.href]="retornaRota(3)">
          <mat-grid-tile class="home-mat-grid-tile" [ngClass]="{'disabled': retornaPermissao(3)}" rowspan="1"
            colspan="1" matTooltip="Configurações">
            <i class="material-icons home-icon">settings_applications</i>
          </mat-grid-tile>
        </a>
        <a href="/home">
          <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2" matTooltip="Minha conta">
            <i class="material-icons home-icon">account_circle</i>
            <span class="titulo-home-icon-uma-linha">Minha conta</span>
          </mat-grid-tile>
        </a>
        <mat-grid-tile (click)="sair()" style="cursor: pointer;" class="home-mat-grid-tile" rowspan="1" colspan="1" matTooltip="Sair">
          <i class="material-icons home-icon">exit_to_app</i>
        </mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="1"></mat-grid-tile>
        <mat-grid-tile class="home-mat-grid-tile" rowspan="1" colspan="2"></mat-grid-tile>
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
