/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  width: 75%;
  margin: 10px auto;
}

.main-div {
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-grid-tile {
  background: white;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.mat-figure {
  padding: 10px !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.accent-background-color {
  background-color: #193651;
}

.accent-color {
  color: #193651;
}

.circular--square {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  max-width: 120px;
  max-height: 120px;
}

.material-text {
  color: #000000;
  font-family: Roboto
}

.material-text-white {
  color:white;
  font-family: Roboto
}
.material-text-medium {
  color: #000000;
  font-family: Roboto
}

.material-text-disabled {
  color: #000000;
  font-family: Roboto
}

.material-text-error {
  color: #B00020;
  font-family: Roboto
}

.bold {
  font-weight: bold;
}

.home-img {
  position: absolute;
  bottom: 40px;
  right: 40px;
  font-size: 250px;
  color: gray;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-cell {
  vertical-align: middle !important;
}

.mat-header-row {
  height: 35px !important;
}
