<app-folha-menu-lateral></app-folha-menu-lateral>
<div style="margin-left: 250px;">
  <app-cabecalho-sistema></app-cabecalho-sistema>
  <div style="margin: 15px;">
    <span class="material-text bold" style="font-size: 40px;">Bem-Vindo</span><br>
    <span class="material-text-medium bold" style="font-size: 35px;">Módulo de <span style="color: #0d3f8b;">Folha de Pagamento</span></span><br>
    <i class="material-icons mater home-icon" ngClass="home-img" style="bottom: 10px !important;">local_atm</i>
  </div>
  <app-rodape-sistema></app-rodape-sistema>
</div>
