<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer opened class="example-sidenav" mode="side">
        <mat-card class="header-sidenav accent-background-color">
            <p style="margin-top: 1px;">Contratação</p>
        </mat-card>
        <mat-list>
            <mat-list-item [routerLink]="['/contratacao/funcionario']" class="item-menu">
                <mat-icon class="icone-menu">emoji_people</mat-icon>
                <a>Funcionário</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/contratacao/departamento']" class="item-menu">
                <mat-icon class="icone-menu">category</mat-icon>
                <a>Departamento</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/contratacao/endereco']" class="item-menu">
                <mat-icon class="icone-menu">place</mat-icon>
                <a>Endereço</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/contratacao/empresa']" class="item-menu">
                <mat-icon class="icone-menu">business</mat-icon>
                <a>Empresa</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/contratacao/beneficio']" class="item-menu">
                <mat-icon class="icone-menu">restaurant</mat-icon>
                <a>Benefícios</a>
            </mat-list-item>
            <mat-list-item [routerLink]="['/home']" style="cursor: pointer; position: fixed; bottom: 0; width: 250px; background-color: #e2e2e2">
                <mat-icon class="icone-menu">keyboard_return</mat-icon>
                <a>Voltar</a>
            </mat-list-item>
        </mat-list>
    </mat-drawer>
</mat-drawer-container>