<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-card class="header-sidenav accent-background-color"><p style="margin-top: 1px;">Folha de Pagamento</p></mat-card>
    <mat-list>
      <mat-list-item [routerLink]="['#']" class="item-menu">
        <mat-icon class="icone-menu">monetization_on</mat-icon>
        <a>Folha de Pagamento</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['#']" class="item-menu">
        <mat-icon class="icone-menu">build</mat-icon>
        <a>Rotinas de Cálculo</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['evento']" class="item-menu">
        <mat-icon class="icone-menu">timeline</mat-icon>
        <a>Eventos</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['incidencia']" class="item-menu">
        <mat-icon class="icone-menu">swap_horiz</mat-icon>
        <a>Incidencias</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/home']" style="cursor: pointer; position: fixed; bottom: 0; width: 250px; background-color: #e2e2e2">
        <mat-icon class="icone-menu">keyboard_return</mat-icon>
        <a>Voltar</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
