.home-mat-grid-tile {
  background: #80808052;
}

.home-icon {
  font-size: 106px;
  color: #565b67;
}

.titulo-home-icon-uma-linha {
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  color: #565b67;
  margin-top: 40px;
  width: 150px;
}

.titulo-home-icon-duas-linhas {
  font-family: Roboto;
  text-align: center;
  font-weight: bold;
  color: #565b67;
  margin-top: 30px;
  width: 150px;
}


.disabled {
  background: #808080a8 !important;
  cursor: no-drop;
}
