<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-card style="border-radius: 0px;">Prática II</mat-card>
    <mat-list>
      <mat-list-item>
        <mat-icon class="icone-menu">monetization_on</mat-icon>
        <a [routerLink]="['#']">Folha de Pagamento</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icone-menu">build</mat-icon>
        <a [routerLink]="['#']">Rotinas de Cálculo</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icone-menu">timeline</mat-icon>
        <a [routerLink]="['#']">Eventos</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon class="icone-menu">swap_horiz</mat-icon>
        <a [routerLink]="['#']">Incidencias</a>
      </mat-list-item>
      <mat-list-item style="position: fixed; bottom: 0; width: 250px; background-color: #e2e2e2">
        <mat-icon class="icone-menu">keyboard_return</mat-icon>
        <a [routerLink]="['/home']">Voltar</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
