<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-card style="border-radius: 0px;">Prática II</mat-card>
    <mat-list>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <a href="#">Folha de Pagamento</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <a href="#">Rotinas de Cálculo</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <a href="#">Eventos</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>home</mat-icon>
        <a href="#">Incidencias</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>
