<h1 mat-dialog-title>{{data.action}} Empresa</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>CNPJ</mat-label>
    <input type="text" matInput placeholder="Cnpj" [(ngModel)]='cnpj'>
  </mat-form-field><br />
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Razão Social</mat-label>
    <input type="text" matInput placeholder="razaosocial" [(ngModel)]='razaosocial'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Nome Fantasia</mat-label>
    <input type="text" matInput placeholder="nomefantasia" [(ngModel)]='nomefantasia'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Endereço</mat-label>
    <input type="text" matInput placeholder="endereco" [(ngModel)]='endereco'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Telefone</mat-label>
    <input type="text" matInput placeholder="telefone" [(ngModel)]='telefone'>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions style="float: right;">
  <button (click)="save()" mat-button>Gravar</button>
  <button (click)="close()" cdkFocusInitial mat-button>Cancelar</button>
</div>
