<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer opened class="example-sidenav" mode="side">
    <mat-card class="header-sidenav accent-background-color">
      <p style="margin-top: 1px;">Recrutamento e Seleção</p>
    </mat-card>
    <mat-list>
      <mat-list-item [routerLink]="['/recrutamento']" class="item-menu">
        <mat-icon class="icone-menu">home</mat-icon>
        <a>Home</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recrutamento/cargo']" class="item-menu">
        <mat-icon class="icone-menu">card_travel</mat-icon>
        <a>Cargo</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recrutamento/conhecimento']" class="item-menu">
        <mat-icon class="icone-menu">school</mat-icon>
        <a>Conhecimento</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recrutamento/habilidadeAtitude']" class="item-menu">
        <mat-icon class="icone-menu">emoji_flags</mat-icon>
        <a>Habilidade/Atitude</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recrutamento/vaga']" class="item-menu">
        <mat-icon class="icone-menu">work</mat-icon>
        <a>Vaga</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/recrutamento/']" class="item-menu">
        <mat-icon class="icone-menu">supervisor_account</mat-icon>
        <a>Seleção de Canditados</a>
      </mat-list-item>
      <mat-list-item [routerLink]="['/home']"
        style="cursor: pointer; position: fixed; bottom: 0; width: 250px; background-color: #e2e2e2">
        <mat-icon class="icone-menu">keyboard_return</mat-icon>
        <a>Voltar</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
</mat-drawer-container>