<h1 mat-dialog-title>Recrutamento Externo</h1>
<div>
  <mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <mat-form-field>
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" [(ngModel)]='cpf' formControlName="group1CPF" required>
        </mat-form-field>
        <mat-form-field style="width: 400px;">
          <mat-label>Nome Completo</mat-label>
          <input matInput placeholder="Nome Completo" [(ngModel)]='nome' formControlName="group1Nome" required>
        </mat-form-field><br>
        <mat-form-field>
          <mat-label>Data Nascimento</mat-label>
          <input matInput [matDatepicker]="dp3" disabled [(ngModel)]='datanascimento' formControlName="group1DataNascimento" required>
          <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
          <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field style="width:150px;">
          <mat-select [(ngModel)]='sexo' formControlName="group1Sexo" required>
              <mat-option value="M">Masculino</mat-option>
              <mat-option value="F">Feminino</mat-option>
          </mat-select>
          <mat-label>Sexo</mat-label>
      </mat-form-field>
      <mat-form-field style="width: 150px;" class="normal">
        <mat-label>Telefone</mat-label>
        <input type="number" min="1" matInput placeholder="(55) 9--------" [(ngModel)]='telefone' formControlName="group1Telefone" required>
    </mat-form-field><br>
      <mat-form-field style="width: 350px;">
        <mat-label>Endereço</mat-label>
        <mat-select [(ngModel)]='enderecoid' formControlName="group1Endereco" required>
            <mat-option *ngFor="let endereco of enderecos" [value]="endereco.id">
              {{endereco.cep}} - {{endereco.logradouro}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100px;" >
        <mat-label>Número</mat-label>
        <input type="number" matInput placeholder="Número" [(ngModel)]='numero' formControlName="group1Numero" required>
    </mat-form-field>
    <button (click)="incluirEndereco()" style="margin-left: 20px;" mat-stroked-button class="crud-button" matTooltip="Utilize essa função para incluir um novo endereço">
      <mat-icon>add</mat-icon> Novo
    </button>
        <div>
          <button mat-button matStepperNext>Próximo <mat-icon>arrow_forward_ios</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Formação</ng-template>
        <mat-form-field style="width: 600px;">
          <mat-label>Experiências Profissionais (3 últimas)</mat-label>
          <textarea style="height: 100px;" matInput placeholder="Experiências Profissionais" [(ngModel)]='experienciaprofissional' formControlName="group2ExperienciaProfissional" required></textarea>
        </mat-form-field><br>
        
    <mat-form-field style="margin-right: 10px; width: 600px;" class="example-chip-list" id="conhecimentosPessoaChips">
      <mat-chip-list #chipList aria-label="Conhecimento">
        <mat-chip
          *ngFor="let item of pessoaConhecimentos"
          [selectable]="selectedPessoaConhecimento"
          [removable]="removableConhecimentoPessoa"
          (removed)="removePessoaConhecimento(item)">
          {{item.nome}}
          <mat-icon matChipRemove *ngIf="removableConhecimentoPessoa">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Conhecimento"
          #fruitInputConhecimento
          [formControl]="ConhecimentoPessoaCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodesConhecimentoPessoa"
          (matChipInputTokenEnd)="addConhecimentoPessoa($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedPessoaConhecimento($event)">
        <mat-option *ngFor="let item of filteredConhecimentosPessoa | async" [value]="item">
          {{item.nome}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <br>
    <mat-form-field style="margin-right: 10px; width: 600px;" class="example-chip-list" id="pessoaIdiomasChips">
      <mat-chip-list #chipList2 aria-label="Idioma">
        <mat-chip
          *ngFor="let item of pessoaIdiomas"
          [selectable]="selectedPessoaIdioma"
          [removable]="removablePessoaIdioma"
          (removed)="removePessoaIdioma(item)">
          {{item.descricao}} - {{item.nivel}}
          <mat-icon matChipRemove *ngIf="removablePessoaIdioma">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Idioma"
          #fruitInputIdioma
          [formControl]="PessoaIdiomaCtrl"
          [matAutocomplete]="auto2"
          [matChipInputFor]="chipList2"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodesPessoaIdioma"
          (matChipInputTokenEnd)="addPessoaIdioma($event)">
      </mat-chip-list>
      <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedPessoaIdioma($event)">
        <mat-option *ngFor="let item of filteredPessoaIdioma | async" [value]="item">
          {{item.descricao}} - {{item.nivel}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

        <div>
          <button mat-button matStepperPrevious><mat-icon>arrow_back_ios</mat-icon> Voltar</button>
          <button mat-button (click)="habilitarBotaoEnviar()" matStepperNext>Próximo <mat-icon>arrow_forward_ios</mat-icon></button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Habilidade/Atitude</ng-template>
      
      <mat-form-field style="margin-right: 10px; width: 600px;" class="example-chip-list" id="pessoaHabilidadesAtitudesChips">
        <mat-chip-list #chipList3 aria-label="Habilidade/Atitude">
          <mat-chip
            *ngFor="let item of pessoaHabilidadesAtitudes"
            [selectable]="selectedPessoaHabilidadeAtitude"
            [removable]="removablePessoaHabilidadeAtitude"
            (removed)="removePessoaHabilidadeAtitude(item)">
            {{item.descricao}} - {{item.tipo}}
            <mat-icon matChipRemove *ngIf="removablePessoaHabilidadeAtitude">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Habilidade/Atitude"
            #fruitInputHabilidadeAtitude
            [formControl]="PessoaHabilidadeAtitudeCtrl"
            [matAutocomplete]="auto3"
            [matChipInputFor]="chipList3"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodesPessoaHabilidadeAtitude"
            (matChipInputTokenEnd)="addPessoaHabilidadeAtitude($event)">
        </mat-chip-list>
        <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="selectedPessoaHabilidadeAtitude($event)">
          <mat-option *ngFor="let item of filteredPessoaHabilidadeAtitude | async" [value]="item">
            {{item.descricao}} - {{item.tipo}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious><mat-icon>arrow_back_ios</mat-icon> Voltar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions style="float: left;">
  <button mat-button (click)="save()" *ngIf="isVisible" class="gravar-button">Enviar</button>
</div>
<div mat-dialog-actions style="float: right;">
  <button (click)="close()" mat-button class="cancelar-button">Cancelar</button>
</div>