<h1 mat-dialog-title>{{data.action}} Cargo</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>Código</mat-label>
    <input type="number" matInput placeholder="Código" [disabled]="true" [(ngModel)]='id'>
  </mat-form-field><br />
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Descrição</mat-label>
    <input type="text" matInput placeholder="Descrição" [(ngModel)]='descricao'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>CBO</mat-label>
    <mat-select [(ngModel)]='cboid'>
      <mat-option *ngFor="let cbo of cbos" [value]="cbo.id">
        {{cbo.id}} - {{cbo.descricaosumaria}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Departamento</mat-label>
    <mat-select [(ngModel)]='departamentoid'>
      <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
        {{departamento.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions style="float: right;">
  <button (click)="save()" mat-button>Gravar</button>
  <button (click)="close()" cdkFocusInitial mat-button>Cancelar</button>
</div>
