<h1 mat-dialog-title>{{data.action}} Cargo</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>Código</mat-label>
    <input type="number" matInput placeholder="Código" [disabled]="true" [(ngModel)]='id'>
  </mat-form-field><br />
  <mat-form-field appearance="standard" style="width: 700px;">
    <mat-label>Descrição</mat-label>
    <input type="text" matInput placeholder="Descrição" [(ngModel)]='descricao'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 700px;">
    <mat-label>CBO</mat-label>
    <mat-select [(ngModel)]='cboid'>
      <mat-option *ngFor="let cbo of cbos" [value]="cbo.id">
        {{cbo.id}} - {{cbo.descricaosumaria}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 700px;">
    <mat-label>Faixa Tabela Salarial</mat-label>
    <mat-select [(ngModel)]='faixatabelasalarialid'>
      <mat-option *ngFor="let faixa of faixaTabelaSalarialList" [value]="faixa.id" style="display: flex;">
        {{faixa.tabelasalarial.descricao + ' ' + faixa.nivel }}&nbsp;&nbsp;&nbsp;<div style="float: right;">Base: R${{faixa.tabelasalarial.valorbase}}&nbsp;&nbsp;&nbsp;Percentual: {{faixa.percentual}}&nbsp;&nbsp;&nbsp;Valor: R${{((faixa.tabelasalarial.valorbase / 100) * faixa.percentual)}}</div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field style="width: 345px; margin-right: 10px;" class="example-chip-list" id="conhecimentosChips">
    <mat-chip-list #chipList aria-label="Conhecimento">
      <mat-chip
        *ngFor="let item of cargoConhecimentos"
        [selectable]="selectableConhecimento"
        [removable]="removableConhecimento"
        (removed)="removeCargoConhecimento(item)">
        {{item.nome}}
        <mat-icon matChipRemove *ngIf="removableConhecimento">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Conhecimento"
        #fruitInput
        [formControl]="ConhecimentoCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodesConhecimento"
        (matChipInputTokenEnd)="addCargoConhecimento($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCargoConhecimento($event)">
      <mat-option *ngFor="let item of filteredConhecimentos | async" [value]="item">
        {{item.nome}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field style="width: 345px;" class="example-chip-list" id="habilidadesChips">
    <mat-chip-list #chipList2 aria-label="Habilidade/Atitude">
      <mat-chip
        *ngFor="let item2 of cargoHabilidadeAtitudes"
        [selectable]="selectableHabilidade"
        [removable]="removableHabilidade"
        (removed)="removeCargoHabilidade(item2)">
        {{item2.descricao}} - {{item2.tipo}}
        <mat-icon matChipRemove *ngIf="removableHabilidade">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Habilidade/Atitude"
        #fruitInput2
        [formControl]="HabilidadeCtrl"
        [matAutocomplete]="auto2"
        [matChipInputFor]="chipList2"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodesHabilidade"
        (matChipInputTokenEnd)="addCargoHabilidade($event)">
    </mat-chip-list>
    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="selectedCargoHabilidade($event)">
      <mat-option *ngFor="let item2 of filteredHabilidades | async" [value]="item2">
        {{item2.descricao}} - {{item2.tipo}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
</div>
<div mat-dialog-actions style="float: left;">
  <button (click)="save()" mat-button class="gravar-button">Gravar</button>
</div>
<div mat-dialog-actions style="float: right;">
  <button (click)="close()" mat-button class="cancelar-button">Cancelar</button>
</div>
