<h1 mat-dialog-title>{{data.action}} Cargo</h1>
<div mat-dialog-content>
  <mat-form-field appearance="standard" style="width: 300px;">
    <mat-label>Código</mat-label>
    <input type="number" matInput placeholder="Código" [disabled]="true" [(ngModel)]='id'>
  </mat-form-field><br />
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Descrição</mat-label>
    <input type="text" matInput placeholder="Descrição" [(ngModel)]='descricao'>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>CBO</mat-label>
    <mat-select [(ngModel)]='cboid'>
      <mat-option *ngFor="let cbo of cbos" [value]="cbo.id">
        {{cbo.id}} - {{cbo.descricaosumaria}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Departamento</mat-label>
    <mat-select [(ngModel)]='departamentoid'>
      <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
        {{departamento.nome}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="standard" style="width: 500px;">
    <mat-label>Faixa Tabela Salarial</mat-label>
    <mat-select [(ngModel)]='faixatabelasalarialid'>
      <mat-option *ngFor="let faixa of faixaTabelaSalarialList" [value]="faixa.id" style="display: flex;">
        {{faixa.tabelasalarial.descricao + ' ' + faixa.nivel }}&nbsp;&nbsp;&nbsp;<div style="float: right;">Base: R${{faixa.tabelasalarial.valorBase}}&nbsp;&nbsp;&nbsp;Percentual: {{faixa.percentual}}&nbsp;&nbsp;&nbsp;Valor: R${{((faixa.tabelasalarial.valorBase / 100) * faixa.percentual)}}</div>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  
  <mat-form-field class="example-chip-list" id="conhecimentosChips">
    <mat-chip-list #chipList aria-label="Conhecimento">
      <mat-chip
        *ngFor="let item of cargoConhecimentos"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(item)">
        {{item.nome}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Conhecimento"
        #fruitInput
        [formControl]="ConhecimentoCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let item of filteredConhecimentos | async" [value]="item">
        {{item.nome}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions style="float: left;">
  <button (click)="save()" mat-button class="gravar-button">Gravar</button>
</div>
<div mat-dialog-actions style="float: right;">
  <button (click)="close()" mat-button class="cancelar-button">Cancelar</button>
</div>
