<app-folha-menu-lateral></app-folha-menu-lateral>
<div style="margin-left: 250px;">
  <app-cabecalho-sistema></app-cabecalho-sistema>
  <div style="margin: 15px;">
    <mat-card><b>Evento</b></mat-card>
    <mat-card style="margin-top: 13px;">
      <div style="width: 100%; display:inline-block;">
        <button (click)="incluir()" mat-stroked-button class="crud-button">
          <mat-icon>add</mat-icon> Incluir
        </button>
        <button (click)="alterar()" mat-stroked-button class="crud-button">
          <mat-icon>edit</mat-icon> Alterar
        </button>
        <button (click)="excluir()" mat-stroked-button class="crud-button">
          <mat-icon>delete</mat-icon> Excluir
        </button>
        <div style="float: right;">
          <mat-form-field style="margin-right: 10px;">
            <mat-label>🔎 Pesquisar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="storeEvento">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th style="width: 5%;" mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let evento"> {{evento.id}} </td>
        </ng-container>
        <ng-container matColumnDef="descricao">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let evento"> {{evento.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
          <th style="width: 10%" mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let evento"> {{evento.tipo}} </td>
        </ng-container>
        <ng-container matColumnDef="incidencia">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Incidencia </th>
          <td mat-cell *matCellDef="let evento"> {{evento.incidenciaId.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="automatico">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Automático </th>
          <td mat-cell *matCellDef="let evento" [ngSwitch]="evento.automatico">
            <span *ngSwitchCase="false">Não</span>
            <span *ngSwitchCase="true">Sim</span>
          </td>
        </ng-container>
        <ng-container matColumnDef="rotinaCalculo">
          <th style="width: 20%;" mat-header-cell *matHeaderCellDef> Rotinas de Cálculo </th>
          <td mat-cell *matCellDef="let evento"> {{evento.rotinacalculoId.descricao}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card>
  </div>
  <app-rodape-sistema></app-rodape-sistema>
</div>
