.normal {
    margin: 5px 25px 5px 0px;
}

.fim {
    margin: 5px 5px 5px 0px;
}


/* .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 30px;
} */