.normal {
    margin: 5px 25px 5px 0px;
}

.fim {
    margin: 5px 5px 5px 0px;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

mat-expansion-panel {
    margin: "5px";
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* .mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 30px;
} */