<app-configuracoes-menu-lateral></app-configuracoes-menu-lateral>
<div style="margin-left: 250px;">
  <app-cabecalho-sistema></app-cabecalho-sistema>
  <div style="margin: 15px;">
    <mat-card><b>Empresa</b></mat-card>
    <mat-card style="margin-top: 13px;">
      <div style="width: 100%; display:inline-block;">
        <button (click)="incluir()" mat-stroked-button class="crud-button">
          <mat-icon>add</mat-icon> Incluir
        </button>
        <button (click)="alterar()" mat-stroked-button class="crud-button">
          <mat-icon>edit</mat-icon> Alterar
        </button>
        <button  (click)="excluir()"  mat-stroked-button class="crud-button">
          <mat-icon>delete</mat-icon> Excluir
        </button>
        <div style="float: right;">
          <mat-form-field style="margin-right: 10px;">
            <mat-label>🔎 Pesquisar</mat-label>
            <input matInput (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </div>
      <table mat-table [dataSource]="storeEmpresa">
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell style="width: 50px;" *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="cnpj">
          <th style="width: 200px;" mat-header-cell *matHeaderCellDef> CNPJ </th>
          <td mat-cell *matCellDef="let empresa"> {{empresa.cnpj}} </td>
        </ng-container>
        <ng-container matColumnDef="razaosocial">
          <th style="width: 200px;"mat-header-cell *matHeaderCellDef> Razão Social </th>
          <td mat-cell *matCellDef="let empresa"> {{empresa.razaosocial}} </td>
        </ng-container>
        <ng-container matColumnDef="nomefantasia">
          <th style="width: 25%;"mat-header-cell *matHeaderCellDef> Nome Fantasia </th>
          <td mat-cell *matCellDef="let empresa"> {{empresa.nomefantasia}} </td>
        </ng-container>
        <ng-container matColumnDef="endereco">
            <th style="width: 25%;" mat-header-cell *matHeaderCellDef> Endereço </th>
            <td mat-cell *matCellDef="let empresa"> {{empresa.endereco}} </td>
          </ng-container>
          <ng-container matColumnDef="telefone">
            <th style="width: 200px;"mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let empresa"> {{empresa.telefone}} </td>
          </ng-container>        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>   
    </mat-card>
  </div>
  <app-rodape-sistema></app-rodape-sistema>
</div>
